@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: start;
  justify-content: center; /* center horizontally */
}

.password-container {
  width: auto;
  max-width: 900px;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.25);
  transition: 0.15s;
  padding-bottom: 45px;
  margin: 2rem auto;
}

button {
  cursor: pointer;
  font-size: 1.25rem;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  color: #fff;
  background-color: #333;
  outline: none;
  padding: 0.5rem 1.75rem;
  box-shadow: 0 0.25rem rgba(121, 121, 121, 0.65);
  transition: 0.15s;
  margin: 0.5em 0.25em auto 0.25em;
  width: 150px;
}

button:focus {
  box-shadow: 0 0.25rem rgba(121, 121, 121, 0.65), inset 0px 0px 5px 1px whitesmoke;
}

button:disabled {
  cursor: not-allowed;
  background-color: rgb(31, 31, 31, 0.65);
}

button:not(:disabled):hover {
  filter: brightness(125%);
}

button:active {
  transform: translate(0, 0.3rem);
  box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}

h1 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 3.5rem;
  letter-spacing: 5px;
  text-shadow: 1px 1px 5px rgba(255, 255, 0, 0.75);
}

.password-setting {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.setting-name {
  text-align: right;
  width: 45%;
  padding-right: 1%;
  align-self: center;
  font-weight: normal;
}

.setting-control {
  text-align: left;
  width: 45%;
  padding-left: 1%;
  align-self: center;
  font-weight: normal;
}

.button-area {
  text-align: center;
  padding-top: 1.5rem;
}

.password-area {
  text-align: center;
  padding-top: 1.5rem;
}

.password-length {
  width: 25%;
}

.password-text {
  resize: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: black;
  text-align: center;
  width: 80%;
  font-family: 'Courier New', Courier, monospace;
  background-color: #d2d2d2bf;
  height: 2em;
}

/*#region Custom checkbox/checkmark */

/* customize the label */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 28.875px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: fit-content;
}

/* hide the default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 23.125px;
  width: 23.125px;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 0px 0px 1px #4f4f4f;
  -moz-box-shadow: inset 0px 0px 0px 1px #4f4f4f;
  box-shadow: inset 0px 0px 0px 1px #4f4f4f;
}

/* when the checkbox is checked, add background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #ffd105;
}

/* create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* style the checkmark */
.checkbox-container .checkmark:after {
  left: 7.5px;
  top: 4.4px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input:focus + .checkmark {
  outline: 1px solid black;
}

/*#endregion */

/* Media Query: Tablet or smaller */
@media screen and (max-width: 1000px) {
  h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
  }

  .password-container {
    margin: 10px 10px;
  }

  .password-length {
    width: 50%;
    margin-left: 2%;
  }

  .setting-name {
    padding-right: 2%;
  }

  .setting-control {
    padding-left: 2%;
  }

  .password-text {
    height: 4em;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #212121;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    color: white;
  }

  .password-container {
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 0 10px 10px 10px rgba(50, 50, 50, 0.25);
  }

  .password-text {
    color: white;
    background-color: #2d2d2db3;
  }

  input:focus + .checkmark {
    outline: 1px solid whitesmoke;
  }
}
